{
    "plugins": [
      "react"
    ],
    "extends": ["eslint:recommended", "plugin:react/recommended"],
    "parserOptions": {
      "ecmaFeatures": {
        "ecmaVersion": 6,
        "jsx": true,
        "experimentalObjectRestSpread": true,
        "sourceType": "module",
        "destructuring": true
      }
    },
    "parser": "babel-eslint",
    "env": {
        "es6": true,
        "browser": true,
        "node": true
    }
}
